.navbar-frame {
  display: flex;
  background-color: #424242;
  padding: 10px;
  justify-content: space-between;
}

.navbar-box-left {
  display: flex;
}

.navbar-box-right {
  display: flex;
}

.navbar-button {
  font-weight: normal;
  color: #F4F4F4;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid white;
  box-shadow: 7px 6px 28px 1px rgba(255, 255, 255, 0.24);
}

.navbar-button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(255, 255, 255, 0.24);
}

.navbar-button:not(:first-child) {
  margin-left: 2vw;
}

.navbar-button:hover {
  cursor: pointer;
}

.navbar-username {
  color: #F4F4F4;
  font-size: 20px;
  margin-left: 2vw;
  padding-top: 9px;
}

.navbar-avatar {
  margin-left: 10px;
  width: auto;
  height: 41px;
  border-radius: 20px;
}

.triangle {
  color: white;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .navbar-button {
    font-size: 16px;
  }

  .navbar-username {
    font-size: 16px;
  }
}