.grid-container {
  display: grid;
  grid-template-columns: 60px auto;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 12px;
  position: relative;
}

.grid-container:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.grid-container:first-child {
  border: 1px solid lightgray;
}

.flexbox-2 {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 12px;
}

.post-avatar {
  width:50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid gray;
}

.post-avatar-div {
  grid-row: span 3;
  justify-self: center;
}

.content {
  margin-top: 10px;
  margin-bottom: 20px;
}

.username {
  font-size: 12px;
  font-weight: 600;
  color: black !important;
}

.reply {
  font-size: 12px;
  margin-bottom: 10px;
}

.date-and-time {
  font-size: 12px;
  color: gray;
  padding-left: 12px;
}

.delete-btn {
  float: right;
}

.update-btn {
  float: right;
  margin-right: 4px;
}

.post-img {
  width: 300px;
}