.profile-container {
  display: grid;
  grid-template-columns: minmax(150px, 200px) minmax(450px, 600px);
  grid-template-rows: auto;
  grid-row-gap: 12px;
  justify-content: center;
}

@media screen and (max-width: 600px){
  .profile-container {
    grid-template-columns: 150px 1fr;
    justify-content: start;
  }
}

.profile-avatar {
  margin-top: 24px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid gray;
  border-radius: 50%;
  grid-column: span 2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.profile-username {
  font-weight: 600;
}

.profile-join-time {
  font-style: italic;
  color: gray;
}

.description {
  grid-column: span 2;
  margin-bottom: 12px;
  position: relative;
}

.edit-icon {
  position: absolute;
  margin-left: 1rem;
  float: right;
}

.hide-no-file-chosen-msg {
  display: none;
}

.profile-picture-btn {
  width:fit-content;
  height:fit-content;
  background-color: #EFEFEF;
  border: 1px solid buttonborder;
  border-radius: 3px;
  padding: 3px;
  font-size: 13.3px;
  font-family: Arial;
}

.not-existing-user {
  font-family: Arial;
  font-size: 2rem;
  text-align: center;
}