.container {
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid lightgray;
  padding: 10vh 5vw;
  border-radius: 16px;
}

.sign-up {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 12px;
}

.submit-button {
  font-weight: normal;
  color: #F4F4F4;
  background-color: #424242;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  width: 218px;
  box-shadow: 4px 3px 12px 1px rgba(0, 0, 0, 0.24);
  display: block;
}

.submit-button:hover {
  cursor: pointer;
}

.submit-button:active {
  transform: scale(0.98);
  box-shadow: 2px 1px 8px 1px rgba(0, 0, 0, 0.24);
}

.submit-button:disabled {
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

.input {
  margin-bottom: 16px;
  padding: 8px 8px;
  justify-self: center;
  width: 200px;
  height: 19px;
  border: 1px solid lightgray;
  display: block;
}

.label {
  display: block;
  margin-bottom: 4px;
}

.offscreen {
  font-size: 12px;
}

.err-msg {
  font-size: 12px;
  color: firebrick;
}

.text-area {
  width: 212px;
  height: 64px;
  margin-bottom: 12px;
  font-family: 'Roboto', sans-serif;
}

.line {
  text-decoration: underline;
  justify-self: center;
  color: gray;
}

.register-prompt {
  font-size: 12px;
  color: gray;
}